.nav-link {
  text-decoration: none;
  color: black;
  font-weight: 700;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.nav-link-active a {
  color: #4640de !important;
  border-bottom: 4px solid #4640de;
  padding-bottom: 36px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.login-input {
  width: 95%;
  background-color: #e5e5e5;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 0.5rem;
  height: '8rem';
  padding-bottom: 10px;
}
