@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
* {
  margin: 0;
  font-family: 'Nunito', sans-serif !important;
}
@media (max-width: 1535px) {
  h2,
  h3,
  h4 p {
    font-size: large;
  }
}

::-webkit-scrollbar-track {
  background: #4640de !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4640de !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4640de !important;
}
